@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

$font: 'Open Sans', sans-serif;
$accent-color: #CB3C1A;
$font-color-primary: #000;
$font-color-secondary: #fff;
$box-color: #e0e0e0;
$header-img: url("../images/bergen.png");
